<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>연습용</title>
</head>
<body>

<ul>
    <li>th:text = <span th:text="${data2}"></span> </li>
    <li>th:utext = <span th:utext="${data2}"></span> </li>
</ul>

<h1>
    <span th:inline="none">[[...]] vs [(...)]</span>
</h1>

<ul>
    <li><span th:inline="none">[[...]] = </span>[[${data2}]]</li>
    <li><span th:inline="none">[(...)] = </span>[(${data2})]</li>
</ul>
</body>
</html>